.invintus-general-settings tbody {
  background: white;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.invintus-general-settings tbody tr {
  border-bottom: 1px solid #c3c4c7;
}

.invintus-general-settings tbody tr th {
  font-weight: 600;
  padding: 10px 15px;
  text-align: left;
  vertical-align: middle;
}

.invintus-general-settings tbody tr td {
  padding: 10px 15px;
  vertical-align: middle;
}

.invintus-general-settings tbody tr td input[type="text"], .invintus-general-settings tbody tr td input[type="password"], .invintus-general-settings tbody tr td select {
  max-width: 25rem;
  width: 100%;
}

.invintus-general-settings__preferences-reset {
  align-items: center;
  display: flex;
  gap: 4px;
  max-width: 25rem;
}

.invintus-general-settings__preferences-reset .button {
  margin: 0;
}
